%html{:lang => "en"}
  %head
    %title #{"#{@title} : " if @title}office jukebox
    %meta{:charset => "utf-8"}
    %link{:href => "/css/bootstrap.css", :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/css/app.css", :rel => 'stylesheet', :type => 'text/css'}
    %script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"js/jquery.cookie.js"}
    %script{:type=>"text/javascript", :src=>"js/bootstrap-dropdown.js"}
    %script{:type=>"text/javascript", :src=>"js/bootstrap-alerts.js"}
    %script{:type=>"text/javascript", :src=>"js/lastfm.js"}
    %script{:type=>"text/javascript", :src=>"js/now-playing.js"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    :javascript 
      $(document).ready(function(){
        $('#topbar').dropdown();
        $(".third-party-signin .alert-message").alert();
        $(".third-party-signin .alert-message").click(function() {
          $.cookie('firstVisit', 'false');
        });
        $(".third-party-signin .alert-message .signin-button").click(function() {
          $.cookie('firstVisit', 'false');
        });
        setTimeout(function(){
          $("#alert-container .alert-message").fadeOut("slow", function () {
            $("#alert-container .alert-message").remove();
            });
        }, 3000);
      });
  %body
    .topbar
      .fill
        .container
          %a.brand{:href => "/"} Office Jukebox
          %p.pull-right
            - if current_user
              %img{:src => @current_user.image, :title => @current_user.nickname}
              %a{:href => "/sign_out"} Sign Out
            - else
              %ul.nav.secondary-nav
                %li.menu{"data-dropdown" => "dropdown"}
                  %a.menu{:href => "#"} Sign In
                  %ul.menu-dropdown
                    %li
                      %a#twitter{:href => "/sign_in/twitter"} Using Twitter
                    %li.divider
                    %li
                      %a#facebook{:href => "/sign_in/facebook"} Using Facebook
    .container
      %div{:id => 'alert-container'}
        - %w[notice error warning alert info].each do |key|
          - if flash[key]
            %div{:id => key,:class => "alert-message #{key}"}= flash[key]
      %header#main
        %hgroup
          %a{:href => "/"}
            %img{:id => 'main-icon', :src => '/images/radio.svg'}
          %div#nowplaying
            %span#artist
            %span.separator
            %span#track
            %div#cover
      #main-content
        %form#hamlurl{:action => "/search", :method => "GET"}
          .input
            %input#search.xlarge{:name => "q", :size => "30", "x-webkit-speech" => "", :type => "search", :autofocus => "",  :placeholder => "Search tracks"}
            %button.btn.primary
              %img{:id => 'search-icon', :src => '/images/search-white.png'}
        %section{:id => 'contents'}
          %div.row
            %div{:id => 'playlist', :class => 'span12 columns offset2'}
              =yield